/* import stylesheets and hide from IE/Mac \*/
@import url("/css/reset.css") screen; /* Reset browsers */

body {
  padding:0;
  margin:0;
  font-family:"Helvetica Neue", sans-serif;
  color:white;
  background:url("/img/green_dust_scratch.png");
  font-family: "Georgia1", "Georgia", serif;
}

h1, h2, h3, p {
  text-align:center;
  margin-top:1em;
}

h1, h2, h3 {
  font-family: "Yanone Kaffeesatz", "Helvetica", "Arial", "Lucida Grande", "Gill Sans", "Verdana", sans-serif;
  font-size:6em;
}
h2 {
  font-size:4em;
}
h3 {
  font-size:2em;
}

p {
  margin-top:2em;
  font-size:2em;
}

section {
  padding-top:4em;
}

footer {
  margin-top:6em;
  margin-bottom:4em;
}

footer p {
  font-size:1em;
}

footer img {
  border: 4px solid white;
}

a, a:hover, a:active, a:visited {
  color:#0066FF;
}

input {
  color:gray;
}

.hidden {
  display:none;
}

.small {
  font-size:smaller;
}

.tooltip {
  position:absolute;
  z-index:-1;
}
.tooltip abbr{
  position:relative;
  left:-410px;
  text-align:right;
  width:400px;
  display:block;
}

.jedbeard {
  background:url(/img/jedbeard.png) right top no-repeat;
  padding-right:54px;
}

#searchwrapper {
  width:580px;
  height:70px;
  background-image:url(/img/searchbox.png);
  background-repeat:no-repeat; /*important*/
  padding:0px;
  margin:0 auto;
  margin-top:2em;
  position:relative; /*important*/
}
 
#searchwrapper form { 
  display:inline;
}
 
.searchbox {
  -webkit-appearance:none;
  border:0px !important; /*important*/
  background-color:transparent; /*important*/
  position:absolute; /*important*/
  top:2px;
  left:14px;
  width:552px;
  height:64px;
  font-size:2em;
  text-align:center;
}

@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('/fonts/YanoneKaffeesatz-Bold-webfont.eot');
  src: local('☺'), url('/fonts/YanoneKaffeesatz-Bold-webfont.woff') format('woff'), url('/fonts/YanoneKaffeesatz-Bold-webfont.ttf') format('truetype'), url('/fonts/YanoneKaffeesatz-Bold-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('/fonts/YanoneKaffeesatz-Light-webfont.eot');
  src: local('☺'), url('/fonts/YanoneKaffeesatz-Light-webfont.woff') format('woff'), url('/fonts/YanoneKaffeesatz-Light-webfont.ttf') format('truetype'), url('/fonts/YanoneKaffeesatz-Light-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 200;
  font-style: normal;
}


@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('/fonts/YanoneKaffeesatz-Regular-webfont.eot');
  src: local('☺'), url('/fonts/YanoneKaffeesatz-Regular-webfont.woff') format('woff'), url('/fonts/YanoneKaffeesatz-Regular-webfont.ttf') format('truetype'), url('/fonts/YanoneKaffeesatz-Regular-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('/fonts/YanoneKaffeesatz-Thin-webfont.eot');
  src: local('☺'), url('/fonts/YanoneKaffeesatz-Thin-webfont.woff') format('woff'), url('/fonts/YanoneKaffeesatz-Thin-webfont.ttf') format('truetype'), url('/fonts/YanoneKaffeesatz-Thin-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 200;
  font-style: normal;
}



@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('/fonts/YanoneKaffeesatz-Bold-webfont.eot');
  src: local('☺'), url('/fonts/YanoneKaffeesatz-Bold-webfont.woff') format('woff'), url('/fonts/YanoneKaffeesatz-Bold-webfont.ttf') format('truetype'), url('/fonts/YanoneKaffeesatz-Bold-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('/fonts/YanoneKaffeesatz-Light-webfont.eot');
  src: local('☺'), url('/fonts/YanoneKaffeesatz-Light-webfont.woff') format('woff'), url('/fonts/YanoneKaffeesatz-Light-webfont.ttf') format('truetype'), url('/fonts/YanoneKaffeesatz-Light-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 200;
  font-style: normal;
}


@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('/fonts/YanoneKaffeesatz-Regular-webfont.eot');
  src: local('☺'), url('/fonts/YanoneKaffeesatz-Regular-webfont.woff') format('woff'), url('/fonts/YanoneKaffeesatz-Regular-webfont.ttf') format('truetype'), url('/fonts/YanoneKaffeesatz-Regular-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('/fonts/YanoneKaffeesatz-Thin-webfont.eot');
  src: local('☺'), url('/fonts/YanoneKaffeesatz-Thin-webfont.woff') format('woff'), url('/fonts/YanoneKaffeesatz-Thin-webfont.ttf') format('truetype'), url('/fonts/YanoneKaffeesatz-Thin-webfont.svg#webfontX4pGz9fc') format('svg');
  font-weight: 200;
  font-style: normal;
}
