/* import stylesheets and hide from IE/Mac \*/
@import url("/css/reset.css") screen; /* Reset browsers */

body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}

h1, h2, p {
  text-align: center;
  margin-top: 1em;
}

h1 {
  font-size:8em;
}
h2 {
  font-size:4em;
}
p {
  font-size:2em;
}

footer {
  margin-top:4em;
}

footer p {
  font-size:1em;
}

#tweets {
  text-align:center;
  margin-top:2em;
  font-size:3em;
}

li {
  list-style:none;
}

.hidden {
  display:none;
}

.small {
  font-size:smaller;
}

a, a:hover, a:active, a:visited {
  color:black;
}